# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=6702f3af4e8b5a72d8e33338294cecd37168be1c01de11393900dd0b92432197db62bf8d10befa46852f11dcc0d616bc8d123ce61bf71d8e5bd67090f74a8a76
REDIS_URL=redis://localhost:6379/1
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
